@use "theme/globals" as *;

core-progress-bar {
    --bar-margin: 8px 0px 4px 0px;
    --line-height: 20px;
    --background: var(--contrast-background);
}

@if ($core-hide-progress-on-section-selector) {
    core-progress-bar {
        display: none;
    }
}

ion-item.item {
    &.core-course-index-all::part(native) {
        --padding-start: 16px;
    }

    &.item-current {
        --background: var(--primary-tint);
        --color: var(--gray-900);
        border: 0px;
    }

    &.item-hightlighted {
        @include safe-area-border-start(var(--selected-item-border-width), solid, var(--selected-item-color));
    }

    &.divider.section {
        --padding-start: 0px;

        &.item-current {
            ion-icon.expandable-status-icon {
                color: var(--primary-contrast);

                &:hover {
                    background: var(--primary-shade);
                    color: var(--gray-100);
                }
            }
        }
        ion-item {
            &.expanded {
              background-color: var(--primary-light);
            }
          }
          
          .accordion-content {
            padding-left: 16px;
            transition: max-height 0.3s ease-in-out;
            overflow: hidden;
          
            ion-list {
              padding: 0;
              margin-top: 8px;
            }
          }
          
          ion-item.expanded ion-icon {
            transform: rotate(180deg);
          }
          
        ion-icon.expandable-status-icon {
            padding: 5px;
            margin: 3px;
            border-radius: 50%;

            &:hover {
                background: var(--secondary);
            }
        }

        &.item-hightlighted ion-icon.expandable-status-icon {
            @include margin-horizontal(-2px, null);
        }
    }

    &.module {
        &::part(native) {
            --padding-start: 0px;
        }

        &.indented {
            margin-inline-start: 1rem;
        }

    }

    ion-icon.completion_none {
        color: rgb(176, 35, 148) !important;
        background-color: rgb(176, 35, 148) !important;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        font-size: 6;
        padding: 0;
        margin: 0 8px;
        display: inline-block;
    }

    ion-icon.completion_complete {
        color: white !important;
        background-color: white !important;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        font-size: 4px;
        padding: 0;
        margin: 0 8px;
        display: inline-block;
    }

    ion-icon.completion_incomplete {
        color: rgb(196, 0, 0) !important;
        background-color: rgb(196, 0, 0) !important;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        font-size: 4px;
        padding: 0;
        margin: 0 8px;
        display: inline-block;
    }
}

div.core-course-index-subsection {
    @include padding-horizontal(16px, null);
}
