<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>
        <ion-title>
            <h1>{{ 'core.user.profile' | translate }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="limited-width">
    <ion-refresher slot="fixed" [disabled]="!userLoaded" (ionRefresh)="refreshUser($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}" />
    </ion-refresher>

    <core-loading [hideUntil]="userLoaded">
        <ion-list *ngIf="user">
            <ion-item class="ion-text-center core-user-profile-maininfo ion-text-wrap" [lines]="user.description ? 'none' : 'full'">
                <ion-label>
                    <core-user-avatar [user]="user" [userId]="user.id" [linkProfile]="false" [checkOnline]="!canChangeProfilePicture">
                        <ion-button class="edit-avatar" *ngIf="canChangeProfilePicture" (click)="changeProfilePicture()"
                            [ariaLabel]="'core.user.newpicture' | translate" fill="clear">
                            <ion-icon slot="icon-only" name="fas-pen" aria-hidden="true" />
                        </ion-button>
                    </core-user-avatar>
                    <h2>{{ (user.fullname | translate) || ('core.datanotfound' | translate) }}</h2>
                </ion-label>
            </ion-item>


            <!-- Core User Details Section -->
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>
                        <h3>{{ 'core.userdetails' | translate }}</h3>
                    </ion-label>
                </ion-item-divider>

                <!-- Email -->
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.user.email' | translate }}</p>
                        <p>
                            <a class="core-anchor" href="mailto:{{ user.email }}" *ngIf="user.email; else noData" core-link auto-login="no"
                                [showBrowserWarning]="false">
                                {{ user.email }}
                            </a>
                            <ng-template #noData>{{ 'core.datanotfound' | translate }}</ng-template>
                        </p>
                    </ion-label>
                </ion-item>

                <!-- Country -->
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.user.country' | translate }}</p>
                        <p>{{ user.country || ('core.datanotfound' | translate) }}</p>
                    </ion-label>
                </ion-item>

                <!-- Timezone -->
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.timezone' | translate }}</p>
                        <p>{{ user.timezone || ('core.datanotfound' | translate) }}</p>
                    </ion-label>
                </ion-item>

                <!-- City -->
                <!--                <ion-item class="ion-text-wrap">-->
                <!--                    <ion-label>-->
                <!--                        <p class="item-heading">{{ 'core.user.city' | translate }}</p>-->
                <!--                        <p>{{ user.city || ('core.datanotfound' | translate) }}</p>-->
                <!--                    </ion-label>-->
                <!--                </ion-item>-->

                <!--                {mlang ar}الدمام{mlang}{mlang other}al-Dammam{mlang}-->

                <!-- City -->
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.user.city' | translate }}</p>
                        <p>{{ user.city ? formatCity(user.city) : ('core.datanotfound' | translate) }}</p>
                    </ion-label>
                </ion-item>


                <!-- Phone -->
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.user.phone1' | translate}}</p>
                        <p><a class="core-anchor" href="tel:{{user.phone1}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ user.phone1 || ('core.datanotfound' | translate)}}
                            </a></p>
                    </ion-label>
                </ion-item>
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.user.phone2' | translate}}</p>
                        <p><a class="core-anchor" href="tel:{{user.phone2}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ user.phone2 || ('core.datanotfound' | translate)}}
                            </a></p>
                    </ion-label>
                </ion-item>

                <!-- Interests -->
                <ion-item class="ion-text-wrap core-user-profile-interests">
                    <ion-label>
                        <p class="item-heading">{{ 'core.user.interests' | translate }}</p>
                        <ion-badge *ngFor="let interest of (interests || [])" role="link" (click)="openInterest(interest)">
                            {{ interest }}
                        </ion-badge>
                        <ng-container *ngIf="!interests || interests.length === 0">
                            {{ 'core.datanotfound' | translate }}
                        </ng-container>
                    </ion-label>
                </ion-item>

                <ng-container *ngIf="canShowDepartment">
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <p class="item-heading">{{ 'core.user.institution' | translate }}</p>
                            <p>{{ user.institution || ('core.datanotfound' | translate)}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <p class="item-heading">{{ 'core.user.department' | translate }}</p>
                            <p>{{ user.department || ('core.datanotfound' | translate)}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <p class="item-heading">{{ 'core.user.idnumber' | translate }}</p>
                            <p>{{ user.idnumber || ('core.datanotfound' | translate)}}</p>
                        </ion-label>
                    </ion-item>
                </ng-container>
            </ion-item-group>

            <ion-item class="ion-text-wrap">
                <ion-label>
                    <p class="item-heading">{{ 'core.user.webpage' | translate }}</p>
                    <p><a class="core-anchor" href="{{user.url}}" core-link>
                            {{ user.url || ('core.datanotfound' | translate)}}
                        </a></p>
                </ion-label>
            </ion-item>
            <ion-item class="ion-text-wrap core-user-profile-interests">
                <ion-label>
                    <p class="item-heading">{{ 'core.user.interests' | translate }}</p>
                    <ion-badge *ngFor="let interest of interests" role="link" (click)="openInterest(interest)">
                        {{ interest || ('core.datanotfound' | translate)}}
                    </ion-badge>
                </ion-label>
            </ion-item>

            <!-- Custom Fields -->
            <core-user-profile-field *ngFor="let field of user.customfields" [field]="field" contextLevel="course"
                [contextInstanceId]="courseId" [courseId]="courseId"></core-user-profile-field>
        </ion-list>

        <core-empty-box *ngIf="!user || (!user.description && !hasContact && !hasDetails)" icon="fas-user"
            [message]="'core.user.detailsnotavailable' | translate" />
    </core-loading>
</ion-content>
