<ion-content class="ion-padding limited-width">
    <core-loading [hideUntil]="pageLoaded">
        <ng-container *ngIf="!siteCheckError && site && credForm">
            <div class="ion-text-wrap ion-text-center core-login-info-box">
                <div class="core-login-site">
                    <div class="core-login-site-logo">
                        <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" alt="" core-external-content
                            onError="this.src='assets/img/login_logo.png'">
                        <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation" alt="">
                    </div>
                </div>
            </div>

            <div class="core-login-methods">
                <form [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
                    <ion-item class="ion-margin-bottom" lines="inset">
                        <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}"
                            formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username" enterkeyhint="next"
                            required="true" [attr.aria-label]="'core.login.username' | translate " />
                    </ion-item>
                    <ion-item class="ion-margin-bottom" lines="inset">
                        <ion-input name="password" type="password" placeholder="{{ 'core.login.password' | translate }}"
                            formControlName="password" [clearOnEdit]="false" autocomplete="current-password" enterkeyhint="go"
                            required="true" [attr.aria-label]="'core.login.password' | translate ">
                            <ion-input-password-toggle slot="end" showIcon="fas-eye" hideIcon="fas-eye-slash" />
                        </ion-input>
                    </ion-item>
                    <ion-button expand="block" type="submit" [disabled]="!credForm.valid"
                        class="ion-margin core-login-login-button ion-text-wrap">
                        <div class="arrow-box">
                            <ion-icon name="fa-external-link-alt" slot="start" aria-hidden="true"></ion-icon>
                        </div>
                        {{ 'core.login.loginbutton' | translate }}
                    </ion-button>
                </form>

                <!-- SSO Login Button -->
                <ion-button expand="block" (click)="openBrowserSSO()" class="ion-margin core-login-login-button ion-text-wrap">
                    <div class="arrow-box">
                        <ion-icon name="fa-external-link-alt" slot="start" aria-hidden="true"></ion-icon>
                    </div>
                    <span>{{ 'core.login.loginbutton' | translate }}</span>
                </ion-button>
            </div>


            <!-- <core-login-methods *ngIf="siteConfig" [siteConfig]="siteConfig" [siteUrl]="site.siteUrl"></core-login-methods> -->

        </ng-container>

        <!-- <core-empty-box *ngIf="siteCheckError" icon="alert-circle-outline" [message]="siteCheckError">
            <ion-button expand="block" (click)="checkSite()" fill="outline">
                {{ 'core.tryagain' | translate }}
            </ion-button>
        </core-empty-box> -->
    </core-loading>
</ion-content>
